* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    background-color:#dde8fc ;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #232531;
}

.title{
    display: flex;
    position: relative;
    font-family: sans-serif;
    font-weight: 1000;
    
    
}

main.cards {
    display: flex;
    padding: 32px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 256px;
    margin-right: 32px;
    margin-left: 32px;

    
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 104px;
    height: 104px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: white;
}

main.cards section.card button {
    background: linear-gradient(to right, #8e819a,#434959);
}

main.cards section.card {
    box-shadow: 20px 20px 50px -30px #917cb5;
}

.voltar{
    position: absolute;left: center; top: 90%;
}
@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;

    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }
}
